@using PGS.Azure.Sql.Model
@model Customer[]
@{
    ViewData["Title"] = "Home Page";
}

<div class="content">
    
    <table>
        <tr>
            <th>Title</th>
            <th>First name</th>
            <th>Last name</th>
        </tr>
        
        @foreach (Customer customer in Model)
        {
            <tr>
                <td>@customer.Title</td>
                <td>@customer.FirstName</td>
                <td>@customer.LastName</td>
            </tr>
        }
    </table>

</div>